################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp_backend/csharp_backend_fidget_spinners_tests/obj/Debug/netcoreapp3.1
