
csharp_backend/csharp_backend_fidget_spinners_tests/obj/csharp_backend_fidget_spinners_tests.csproj.nuget.dgspec.json
csharp_backend/csharp_backend_fidget_spinners_tests/obj/csharp_backend_fidget_spinners_tests.csproj.nuget.g.props
csharp_backend/csharp_backend_fidget_spinners_tests/obj/csharp_backend_fidget_spinners_tests.csproj.nuget.g.targets
csharp_backend/csharp_backend_fidget_spinners_tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
csharp_backend/csharp_backend_fidget_spinners_tests/obj/Debug/netcoreapp3.1/csharp_backend_fidget_spinners_tests.AssemblyInfo.cs
csharp_backend/csharp_backend_fidget_spinners_tests/obj/Debug/netcoreapp3.1/csharp_backend_fidget_spinners_tests.AssemblyInfoInputs.cache
csharp_backend/csharp_backend_fidget_spinners_tests/obj/Debug/netcoreapp3.1/csharp_backend_fidget_spinners_tests.assets.cache
csharp_backend/csharp_backend_fidget_spinners_tests/obj/project.assets.json
csharp_backend/csharp_backend_fidget_spinners_tests/obj/project.nuget.cache
